@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  font-size: 10rem;
  color: hsl(180, 94%, 58%);
  text-shadow: 0 0 10px hsl(180, 94%, 58%);

  font-family: "Bebas Neue", cursive;

  width: fit-content;
  margin: 0 auto;
}

.wrapper {
  max-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;

  background-color: hsl(180, 100%, 3%);
}

.gallery {
  max-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;

  background-color: hsl(180, 100%, 3%);
}

.one-column,
.two-columns,
.three-columns {
  padding: 4rem 0;

  display: grid;
  justify-content: center;
  gap: 2rem;
}

.one-column {
  width: 80rem;
}

.two-columns {
  grid-template-columns: repeat(2, 600px);
}

.three-columns {
  grid-template-columns: repeat(3, 400px);
}

.img-container {
  border: 1px solid teal;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.remodel {
  height: fit-content;
  padding: 3rem;

  display: flex;
  justify-content: center;
  gap: 3rem;
}

.btn {
  width: 10em;
  height: 4em;
  padding: 2rem;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
  color: hsl(180, 94%, 48%);

  background-color: transparent;
  border: 5px solid hsl(180, 94%, 48%);
  box-shadow: 0 0 40px 0 hsl(180, 94%, 48%), inset 0 0 30px 0 hsl(180, 94%, 48%);
}

.btn:hover {
  color: hsl(180, 94%, 58%);
  text-shadow: 0 0 10px hsl(180, 94%, 58%);

  box-shadow: 0 0 60px 5px hsl(180, 94%, 58%),
    inset 0 0 45px 0 hsl(180, 94%, 58%);

  transform: scale(1.1);
}
